{{ define "content" }}

<h2>Teams</h2>

Search for existing teams.

<br><br>

<!-- TODO populate form after post -->

<form method="POST">
    <label>Team:</label><br>
    <input type="text" name="search" required="true" minlength="2"><br><br>
    <label>Sport:</label><br>
    <select name="sport" required="true">
        {{ range $s := .Data.Sports }}
        <option value="{{ $s }}">{{ $s }}</option>
        {{ end }}        
    </select>
    <br><br>
    <input type="submit" value="Search">
</form>

{{ if .Success }}
<h3>Results</h3>
{{ range $m := .Data.Results }}
    <a href="/team/{{ $m.LinkID }}/">{{ $m.Name }} {{ $m.Mascot }}</a> <br>
{{ end }}
{{ if .Session }}
<br>
If you can't find your team then you can <a href="/team/new/">create a new one</a>.
{{ end }}
{{ end }}

{{ end }}